---
// Component Imports
import BaseHead from '../components/BaseHead.astro';
import Nav from '../components/Nav.astro';

// Component Script:
// You can write any JavaScript/TypeScript that you'd like here.
// It will run during the build, but never in the browser.
// All variables are available to use in the HTML template below.
let title = 'papilla';
let description = 'The perfect starter for your perfect blog.';
let permalink = 'https://example.com/';
---

<html lang="en">
	<head>
		<BaseHead {title} {description} {permalink} />
	</head>
	<body class="ieee-light">
		<Nav links={[
			{name: 'Página Principal', href:'/'},
			{name: 'Capítulos', href:'societies'},
			{name: 'Blog / Noticias', href:'posts'},
		]}/>
		Chimba
	</body>
</html>
